.divPrinc{
    background-color: rgb(127, 208, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 10%;
}
.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgGit{
    border-radius: 100%;
    width: 350px;
}